# --- Lixo da IDE da Dupla (JetBrains/IntelliJ) ---
.idea/
*.iml
out/
gen/

# --- Lixo do seu VS Code ---
.vscode/
.history/
*.log

# --- Lixo do Windows ---
Thumbs.db
desktop.ini

# Default ignored files
/shelf/
/workspace.xml

# Ignored default folder with query files
/queries/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

