  body{
    background-color: rgb(251, 251, 251);
    color: rgb(2, 2, 65);
    font-family: Verdana;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
  }

  header {
    font-family: Verdana;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
  }

  #title{
    flex-direction: column;
    line-height:10px;
  }

  li{
    display: inline-block;
    margin: 20px;
  }

  main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  ul{

  }

  p{
    line-height: 20px;
    max-width: 500px;
    font-family: Verdana;
  }

  img{
    width: 300px;
    height: 300px;
    object-position: center top;
  }

  a{
    color: rgb(23, 23, 138);
  }

  a:hover{
    color: black;
    transition: 0.3 all;
  }

  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
  }

    #inscrevaButton{
        border: 2px solid rgb(23, 23, 138);
        padding: 10px;
        border-radius: 15px;
    }

    #inscrevaButton:hover{
        background-color: rgb(23, 23, 138);
        color: white;
        }

  h1{
    
  }

  h2{
    font-size: 50px;
    line-height: 1;
    font-family: Verdana;
  }

  h3{
    color: black;
  }

  span{
    color:rgb(23, 23, 138);
  }

  p{
    font-size: 20px;
  }

  button{
    background-color: rgb(2, 2, 65);
    color:white;
    border: none;
    font-family: Verdana;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  th, td {
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: rgb(2, 2, 65);
    color: white;
  }

